@charset "utf-8";
* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-transition-duration: 0;
    transition-duration: 0;
}

nav {
    background-color: #1A1B24;
    overflow: hidden;
    height: 56px;
    display: flex;
    justify-content: left;
}

nav h1 {
    color: #EEEE;
    line-height: 56px;
    font-size: 24px;
    padding-left: 15px;
    margin-right: calc(50% - 233px);
}

nav a {
    color: #EEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    line-height: 56px;
}

nav a:hover {
    background-color: #2E64F1;
    border-radius: 8px;
}

#heroBanner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/lowpoly.png);
    background-color: #23232C;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroBanner h2 {
    font-size: 65px;
    color: #EEEE;
}

#aboutMe {
    height: 590px;
    background-color: #23232C;
}

#aboutMe h2 {
    font-size: 45px;
    padding-top: 125px;
    color: #EEEE;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#aboutMe p {
    font-size: 18px;
    color: #EEEE;
    width: 50%;
    text-align: center;
    margin: 25px auto;
    letter-spacing: 0.5px;
}

#gameSection {
    height: 750px;
    background-color: #1A1B24;
}